{% extends '::base.html.twig' %}

{% block body %}
Es sind <span class="info">{{ total_nodes| default(0) }}</span> Knoten eingetragen.
<p>
Neue Daten pro<br />
Stunde: {{ logs_per_hour }} (<span class="warning">{{ size_per_hour }}kb</span>)<br />
Tag: {{ logs_per_day }} (<span class="warning">{{ size_per_hour }}kb</span>)<br />
Woche: {{ logs_per_week }} (<span class="warning">{{ size_per_hour }}kb</span>)<br />
</p>
<table>
    <thead>
        <tr>
            <th>Log-Zeit</th>
            <th>Json-Zeit</th>
            <th>Dateigröße</th>
            <th>Knoten</th>
            <th>Status</th>
            <th>Links</th>
            <th>Nachricht</th>
        </tr>
    </thead>
    {% for log in logs %}
        <tr>
            <td>{{ log.endTime | date('Y.m.d \\u\\m H:i:s') }}</td>
            <td>{{ log.filetime | date('Y.m.d \\u\\m H:i:s') }}</td>
            <td>{{ log.fileSize }}</td>
            <td>
                <span class="info">+{{ log.nodesAdded }}</span>|{{ log.nodesPreserved }}|<span class="error">-{{ log.nodesRemoved }}</span>
            </td>
            <td>+{{ log.statusUpdates }}</td>
            <td>
                <span class="info">+{{ log.linksAdded }}</span>|{{ log.linksPreserved }}|<span class="error">-{{ log.linksRemoved }}</span>
            </td>
            <td><div class="codebox">{{ log.message| nl2br }}</div></td>
        </tr>
    {% endfor %}
</table>

<br />
Aktuelle Größe der Datenbank: <span class="info">{{ table_size }}</span>
{% endblock %}